.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.CardBody{
  width: 100%;

}

.card-body{
  padding: 0;
}

.buttonFav{
  margin-bottom: 12px;
  width: 180px;
}
